<div class='comment-container'>
  <div class='avatar'>
    <img class='img-polaroid' {{bind-attr src=currentAvatar}} />
  </div>
  <div class='comment'>
    <div class='body'>
      <form {{action new on='submit'}}>
        {{textarea rows='4' value=body placeholder='Add a comment' class='new-comment'}}
        {{input class='btn btn-small btn-primary' type='submit' value='Comment'}}
      </form>
    </div>
  </div>
</div>
