<div class='navbar navbar-fixed-top'>
  <div class='navbar-inner'>
    <div class='container'>
      <button class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse' type='button'>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>

      {{#link-to 'index' class='brand'}}Graude{{/link-to}}

      <div class='nav-collapse collapse'>
        <p class='navbar-text pull-right'>
          {{#if currentSession.isLoggedIn}}
            <div class='btn-group'>
              <a class='btn dropdown-toggle' data-toggle='dropdown' href='#'>
                {{currentSession.session.name}}
                <span class='caret'></span>
              </a>
              <ul class='dropdown-menu'>
                <li><a href='#'>Logout</a></li>
              </ul>
            </div>
          {{else}}
            Log in with:
            <a href='/api/v1/session/auth/github'><i class='icon-github-sign icon-2x'></i></a>
            <a href='/api/v1/session/auth/facebook'><i class='icon-facebook-sign icon-2x'></i></a>
          {{/if}}
        </p>
      </div>
    </div>
  </div>
</div>
