<table class='table table-condensed table-stripped table-hover'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Date</th>
      <th>Players</th>
      <th>Me</th>
    </tr>
  </thead>

  <tbody>
    {{#each}}
      {{#link-to 'tournament' this tagName='tr'}}
        <td>{{name}}</td>
        <td>{{address}}</td>
        <td>{{date}}</td>
        <td>{{players}}</td>
        <td></td>
      {{/link-to}}
    {{/each}}
  </tbody>
</table>
