<div class="container">
  <div class="row">

    <div class="span2 bs-docs-sidebar">
      <ul class="nav nav-list bs-docs-sidenav affix">
        <li>{{#linkTo 'players'}}Players{{/linkTo}}</li>
        <li>{{#linkTo 'tournaments'}}Tournaments{{/linkTo}}</li>
      </ul>
    </div>

    <div class="span10">
      {{outlet}}
    </div>

  </div>
</div>
