<div class='span8'>
  {{#link-to 'tournaments'}}All tournaments{{/link-to}}
</div>

<div class='span4'>
  {{#if currentSession.isLoggedIn}}
    {{render 'createdTournaments' currentSession.created_tournaments }}
    {{render 'participatingTournaments' currentSession.participating_tournaments }}
  {{/if}}
</div>
