<section>
  <table class='table table-condensed table-stripped table-hover'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Nickname</th>
        <th>Email</th>
      </tr>
    </thead>

    <tbody>
      {{#each}}
        <tr>
          <td>{{name}}</td>
          <td>{{nick}}</td>
          <td>{{email}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>
