<div class='tabbable'>
  <ul class='nav nav-tabs'>
    <li class='active'>
      <a href='#info' data-toggle='tab'>Info</a>
    </li>
    <li>
      <a href='#participants' data-toggle='tab'>Participations</a>
    </li>
    <li>
      <a href='#clasification' data-toggle='tab'>Clasification</a>
    </li>
  </ul>

  <div class='tab-content'>
    <div id='info' class='tab-pane active'>
      {{name}}
      {{description}}
      {{address}}
      {{date}}
    </div>
    <div id='participants' class='tab-pane'></div>
    <div id='clasification' class='tab-pane'></div>
  </div>
</div>
