body {
  padding-top: 60px;
  padding-bottom: 40px;
  font: Helvetica;
}

// Boxes
.box {
  margin-bottom: 20px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #D5D5D5;
}

.box-header {
  border-radius: 4px 4px 0px 0px;
  background-image: linear-gradient( #FAFAFA, #EAEAEA );
  min-height: 30px;
  padding: 5px;
}

.box-body {
  border-radius: 0px 0px 4px 4px;
}

.box-header > .box-title {
  float: left;
  font-size: 14px;
  line-height: 1;
  color: #555555;
}

.box-header > .btn {
  float: right;
}

// Tournament Lists
ul.tournament-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

li.tournament-list-item {
  padding: 6px 10px 6px 10px;
  font-size: 12px;
  border-top: 1px solid #E5E5E5;
}

li.tournament-list-item .label, li.tournament-list-item .participants {
  float: right;
}

// Maps
.geolocation-map {
  height: 250px;
  border: 1px solid #D5D5D5;
}

// DatePicker
div.date {
  margin-left: 0px;
}

div.date > input {
  width: 260px;
}

// Posters
.poster-container {
  border: 3px solid #D5D5D5;
  border-radius: 4px 4px 4px 4px;

  background-color: #EAEAEA;
}

.poster-add {
  border-radius: 4px 4px 4px 4px;

  line-height: 290px;
  text-align: center;
}

// Army Lists
.army-list .headers {
  width: 100%;
}

.last-update {
  font-size: 12px;
  color: #999999;
  float: right;
}

.army-list .list {
  width: 96%;
  height: 300px;
}

// Comments
.comment-container {
  border-top: 1px solid #D5D5D5;
  margin-top: 10px;
  padding-top: 5px;
  overflow: hidden;
}

.comment-container .avatar {
  width: 10%;
  float: left;
}
.comment-container .comment {
  width: 87%;
  float: right;
}

.comment .header .date {
  font-size: 12px;
  font-size: 12px;
  color: #999999;
  float: right;
}

.new-comment {
  width: 96%;
  padding: 5px;
}
